.table-body {
    width: 100%;
    max-width: 1000px;
    margin: -5px 0 20px;
    padding: 5px;
    border-radius: 3px;
  }

.the-table tr {
      border: 1px solid #333;
  }

  .the-table tr th {
      font-size: 14px;
      white-space: normal;
      overflow: hidden;
  }

  .the-table tr td {
      font-size: 14px;
      overflow: hidden;
  }

  .the-table tr td.firstTd {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .the-table tr td.firstTd a {
      color: #645e5e;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
  }


  @media screen and (min-width: 1200px) {
      .the-table {
          padding-top: 10px;
      }

      .the-table tr th {
          padding: 0px 12px;
          white-space: nowrap;
      }
  }


  /* styles for viewTemplates */
    .views {
        width: 100%;
        max-width: 400px;
    } 

    .modify .table tr  {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60px;
    }

    .modify table tr td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
  /* end of styles for view templates  */   

