.table-body {
    width: 100%;
    max-width: 1000px;
    margin: -5px 0 20px;
    padding: 5px;
    border-radius: 3px;
  }

.the-table tr {
      border: 1px solid #333;
  }

  .the-table tr th {
      font-size: 14px;
      white-space: normal;
      overflow: hidden;
  }

  .the-table tr td {
      font-size: 14px;
      overflow: hidden;
  }

  .the-table tr td.firstTd {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .the-table tr td.firstTd a {
      color: #645e5e;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
  }


  @media screen and (min-width: 1200px) {
      .the-table {
          padding-top: 10px;
      }

      .the-table tr th {
          padding: 0px 12px;
          white-space: nowrap;
      }
  }


  /* styles for viewTemplates */
    .views {
        width: 100%;
        max-width: 500px;
        background:#f3f3f3;
        padding: 20px 25px;
        border-radius: 8px;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #333;
        border-top: 3px solid #333;
    } 


    .views .table tr:last-child {
        border: transparent;
    }

    .views .table tr td:first-child {
        width: 34%;
    }
    .views .table tr td:last-child {
        width: 66%;
    }
    .views.modify .table tr  {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60px;
        border-bottom: transparent;
    }

    .modify table tr td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }

    .modify table tr td.modify-table-actionBtn{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
  /* end of styles for view templates  */   

