.table-body {
    width: 100%;
    max-width: 1000px;
    margin: -5px 0 20px;
    padding: 5px;
    border-radius: 3px;
  }

.the-table tr {
      border: 1px solid #333;
  }

  .the-table tr th {
      /* border: 1px solid #333; */
      font-size: 14px;
      white-space: normal;
      overflow: hidden;
  }


  .the-table tr th:nth-child(1),
  .the-table tr th:nth-child(3),
  .the-table tr th:nth-child(4) {
      width: 10%;
  }
  .the-table tr th:nth-child(2) {
      width: 20%;
  }

  .the-table tr th:nth-child(5),
  .the-table tr th:nth-child(6) {
      width: 25%;
  }

  .the-table tr td {
      /* border: 1px solid #333;  */
      font-size: 14px;
      white-space: pre-wrap;
      overflow: hidden;
      text-align: center;
  }

  .the-table tr td.firstTd {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .the-table tr td.firstTd a {
      color: #645e5e;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
  }


  @media screen and (min-width: 1200px) {
      .the-table {
          padding-top: 10px;
      }

      .the-table tr th {
          padding: 0px 12px;
          white-space: nowrap;
      }
  }


  /* styles for viewTemplates */
    .views {
        width: 100%;
        max-width: 400px;
    } 
  /* end of styles for view templates  */   